<!DOCTYPE html>
<html manifest="cache.manifest">
<head>
    <meta charset="UTF-8">
    <title>Full Hacker News</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    {{> head }}
</head>
<body>
<div id="reload">
    <a href=".">New articles available</a>
</div>
<header>
    <h1>Full {{ title }}</h1>
    <p>
        Last update: <span id="lastupdate" title="{{lastupdate}}">{{lastupdate}}</span>
    </p>
</header>
<div role="main" class="main">
    <ul class="toc" id="toc">
    {{# articles }}
        <li><a href="#article-{{ index }}">{{ title }}</a></li>
    {{/ articles}}
    </ul>

    {{# articles }}
    <article id="article-{{ index }}" class="hn-article" data-index="{{ index }}">
        <p class="meta">
            Original article on <a href="{{ link }}">{{ site }}</a>
        </p>
        <h1 class="title">
            <a href="{{ link }}">
                {{ title }}
            </a>
        </h1>
        <div>
            {{{ content }}}
        </div>
    </article>
    {{/ articles}}
</div>
<footer>
    <div>
        <h2>About this site</h2>
        <p>
            This page displays articles from {{ title }} in one single page for offline reading.
            <br>
            Get the <a href="https://github.com/mauricesvay/FullHackerNews">source on github</a>.
            <br>
            It was made by Maurice Svay &lt;maurice@svay.com&gt;.
        </p>
    </div>
</footer>

<nav class="toolbar">
    <a href="#toc" id="index">Index</a>
    <a href="#" id="prev">Prev</a>
    <a href="#" id="next">Next</a>
</nav>

<script src="js/jquery-2.0.3.min.js" type="text/javascript"></script>
<script src="js/moment.min.js" type="text/javascript"></script>
<script src="js/waypoints.min.js" type="text/javascript"></script>
<script src="js/app.js" type="text/javascript"></script>
<script type="text/javascript">
    App.init();
</script>
</body>
</html>